@tailwind base;
@tailwind components;
@tailwind utilities;

.style-script-regular {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

body{
  background-color: rgb(17, 17, 17) !important;
}

.arrow{
  color:greenyellow;
}

.custom-button{
  background-color: rgb(17, 17, 17);
  border: 2px greenyellow solid;
  color: greenyellow;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  
}

.custom-button:hover{
  background-color: greenyellow;
  border: 2px black solid;
  color: rgb(17, 17, 17);;
}

.custom-button-tickets{
  border: 1px greenyellow solid;

}